MONGODB_USER = # Username
MONGODB_PASSWORD = # Password
MONGODB_URL = # Connection url to database
MONGODB_DB = # DB name
PORT = # Use localhost port

SMTP_HOST =
SMTP_PORT =
SMTP_USER =
SMTP_PASSWORD =
SMTP_FROM =
JWT_SECRET =
APP_DOMAIN =

CLOUD_NAME =
API_KEY =
API_SECRET =
UPLOAD_TO_CLOUDINARY =